.pagedate {
    font-size: x-small;
}
.actions {
    float: right;
    font-size: small;
}
body {
    font-family: sans-serif;
}
.frontpage h1 {
    background: #fff url('debian.png') no-repeat 10px 7px;
    border-bottom: 2px solid #d70751;
    font-style: italic;
    margin: 10px 0 0 0;
    padding: 20px 0 0 280px;
    font-size: 170%;
    min-height: 60px;
    height: auto !important; /* "Min-Height Fast Hack" */
    height: 60px; 
}
